.square {
    width:200px;
    height:200px;
    background:red;
}

.circle {
    width:200px;
    height:200px;
    border-radius:100px;
    background:orange;
}

.green {
    background-color:green ;
}
